<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <services>
            <service name="Webster.ManagedServices.ManagedService">
                <endpoint address="net.tcp://HenryWindows:6001/service" binding="netTcpBinding"
                    bindingConfiguration="" contract="Webster.ManagedServices.Contracts.IRandomNumberService" />
                <endpoint address="net.tcp://HenryWindows:6002/service" binding="netTcpBinding"
                    bindingConfiguration="" contract="Webster.ManagedServices.Contracts.IStreamingService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
